.container  {
  margin-top: 5.250em;
  width: 30%;
  height: 30%;
}

.navbar-brand {
  margin-top: 9px;
}

.navbar-nav{
  margin-top: 9px;
}
h1  {
  margin-left: 39%;
  font-family: helvetica;
  color: #fff;
  font-size: 250%;
  display: fixed;

}

h3  {
  color: #FC4C02;
}
.btn {
  background-color:  #FC4C02;
}
.logIn  {
  border-radius: 5px;
  margin-left: 18%;
  width: 175px;
  height: 35px;
  background: url("http://strava.github.io/api/images/ConnectWithStrava.png");
}

p {
  font-size: 89.5%;
  margin-top: 13%;
  margin-left: 21%;
}