body { 
  background-repeat: none;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.form-control {
  -moz-box-shadow: 10px 10px 14px #000000;
  -webkit-box-shadow: 10px 10px 14px #000000;
  box-shadow: 10px 10px 14px #000000;
}

.container  {
  margin-top: 5.250em;
  width: 30%;
  height: 30%;
}

.checkbox label {
  color: #fff;
}

.navbar-brand {
  margin-top: 9px;
}

.navbar-nav{
  margin-top: 9px;
}

h1  {
  margin-left: 39%;
  font-family: helvetica;
  color: #fff;
  font-size: 250%;
  display: fixed;
}

h3  {
  color: #FC4C02;
  text-shadow:5px 7px 4px #000000;
}

h2  {
  border-radius: 15px;
  font-family: helvetica;
  background-color: rgba(0, 0, 0, 0.2);
  text-shadow:5px 10px 4px #000000;
  color: #fff;
  margin-left: 350px;
  margin-right: 391px;
}
.btn {
  background-color:  #FC4C02;
  -moz-box-shadow: 10px 10px 14px #000000;
  -webkit-box-shadow: 10px 10px 14px #000000;
  box-shadow: 10px 10px 14px #000000;
}

.logIn  {
  border-radius: 5px;
  margin-left: 18%;
  width: 162px;
  height: 35px;
  background: url("http://strava.github.io/api/images/LogInWithStrava.png");
  -moz-box-shadow: 10px 10px 14px #000000;
  -webkit-box-shadow: 10px 10px 14px #000000;
  box-shadow: 10px 10px 14px #000000;
}

p {
  font-size: 89.5%;
  margin-top: 13%;
  margin-left: 21%;
}

.navbar-form .form-control{
  display: inline-block;
  width: 450px;
  -moz-box-shadow: 10px 10px 14px #000000;
  -webkit-box-shadow: 10px 10px 14px #000000;
  box-shadow: 10px 10px 14px #000000;
}

.form-group1  {
  text-align: center;
}