body { 
  background-repeat: none;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.form-control {
  -moz-box-shadow: 10px 10px 14px #000000;
  -webkit-box-shadow: 10px 10px 14px #000000;
  box-shadow: 10px 10px 14px #000000;
}

.container  {
  margin-top: 5.250em;
  width: 30%;
  height: 30%;
}

.checkbox label {
  color: #fff;
}

.navbar-brand {
  margin-top: 9px;
}

.navbar-nav{
  margin-top: 9px;
}

h1  {
  margin-left: 39%;
  font-family: helvetica;
  color: #fff;
  font-size: 250%;
  display: fixed;
}

h3  {
  color: #FC4C02;
  text-shadow:5px 7px 4px #000000;

}

h2  {
  border-radius: 15px;
  font-family: helvetica;
  background-color: rgba(0, 0, 0, 0.2);
  text-shadow:5px 10px 4px #000000;
  color: #fff;
  font-size: 28px;
  margin-left: 350px;
  margin-right: 391px;
}
.btn {
    margin-top: 25px;

  background-color:  #FC4C02;
  -moz-box-shadow: 10px 10px 14px #000000;
  -webkit-box-shadow: 10px 10px 14px #000000;
  box-shadow: 10px 10px 14px #000000;
}

.logIn  {
  border-radius: 5px;
  margin-left: 18%;
  width: 162px;
  height: 35px;
  background: url("http://strava.github.io/api/images/LogInWithStrava.png");
  -moz-box-shadow: 10px 10px 14px #000000;
  -webkit-box-shadow: 10px 10px 14px #000000;
  box-shadow: 10px 10px 14px #000000;
}

p {
  font-size: 89.5%;
  margin-top: 13%;
  margin-left: 21%;
}

.navbar-form .form-control{
  margin-top: 25px;
  display: inline-block;
  margin-left: 0px;
  width: 50.111em;
  -moz-box-shadow: 10px 10px 14px #000000;
  -webkit-box-shadow: 10px 10px 14px #000000;
  box-shadow: 10px 10px 14px #000000;
}

.form-group1  {
  text-align: center;
}

 h4 {
  color: white;
}
.outter-profile {
  margin-left: 8.5%;
  background-color: rgba(0, 0, 0, 0.75);
  border-top: 1px solid black; 
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  width: 25%;
  height: 500px;
  display: inline-block;
  float: left;
}

.inner-stats  {
  background-color: rgba(0, 0, 0, 0.65);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  /*border-right: 1px solid black;*/
  width: 23%;
  height: 500px;
  display: inline-block;
  float: left;
}
.gear {
  background-color: rgba(0, 0, 0, 0.55);
  border-top: 1px solid black; 
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  width: 35%;
  height: 500px;
  display: inline-block;
  float: left;
}

b   {
  margin-left: 25px;
  color: gray;
}
strong  {
  margin-left: 10px;
}

.activ  {
  background-color: rgba(0, 0, 0, 0.65);
  border: 1px solid black;
  width: 15%;
  height: 50px;
  display: inline-block;
  float: left;

}